---
import heroImageBackground from "../../assets/images/hero-image-fpecher.jpg";
---

<section class="section-divided">
    <div class="section-divided__box section-divided__box--left">
        <div class="section-divided__background"></div>
        <div class="section-divided__content">
            <h3 class="headline headline--h1">
                Hallo!<br />
                Ich bin Fabian
            </h3>
            <h1 class="-spacing-outer-60 headline headline--h3">
                Frontend Developer &amp; WordPress Specialist
            </h1>
            <p class="-spacing-outer-35">
                Und habe mich auf die Realisierung von Websiten in <strong>WordPress</strong> spezialisiert, beherrsche aber auch den Umgang mit anderen CMS
                wie zum Beispiel Typo3 und Contao.
            </p>
        </div>

        
    </div>
    <div class="section-divided__box section-divided__box--right" style={`background-image: url(${heroImageBackground.src})`}></div>
</section>

<style lang="scss">
    @use '../../styles/mixins/breakpoint.mixin' as breakpoints;
    @use '../../styles/setup/colors.setup' as colors;

    .section-divided {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        
        @include breakpoints.breakpoint('s') {
            flex-direction: row;
            height: 100vh;
        }

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            // background: #0f172a;
            // background-image: linear-gradient(to right, rgba(148,163,184,0.2) 1px, transparent 1px),
            //                     linear-gradient(to bottom, rgba(148,163,184,0.2) 1px, transparent 1px);
            // background-size: 40px 40px;
            background: colors.$tertiary-gray;
            background-image: linear-gradient(to right, #d1d5db 1px, transparent 1px),
                                linear-gradient(to bottom, #d1d5db 1px, transparent 1px);
            background-size: 32px 32px;
            -webkit-mask-image: radial-gradient(ellipse 80% 80% at 0% 0%, #000 50%, transparent 90%);
            mask-image: radial-gradient(ellipse 80% 80% at 0% 0%, #000 50%, transparent 90%);
        }

        &__box {
            width: 100%;
            height: auto;
            position: relative;
            padding: 50px 0;
        
            @include breakpoints.breakpoint('s') {
                width: 50%;
                height: 100%;
            }

            &--left {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 50px 7%;
            }

            &--right {
                background-size: cover !important;
                background-repeat: no-repeat !important;
                height: 50vh;

                @include breakpoints.breakpoint('s') {
                    height: auto;
                }
            }
        }
    }

    html.dark {
        .section-divided {
            &__box {
                background: colors.$primary-gray;
            }
        }
    }
</style>
