---
import { getCollection } from "astro:content";
import TeaserProject from "../TeaserProject.astro";

const { sectionTitle } = Astro.props;
const sectionIntroParagraph = "Entdecken Sie einige meiner Projekte. Die meisten Projekte sind enstanden, als ich mich im Angestelltenverhältnis bei der JoussenKarliczek GmbH befand.";
const projects = await getCollection("projects");

const sortedProjects = projects.sort((a, b) => a.data.order - b.data.order);
---
<section class="section-portfolio -spacing-outer-50" id="section-portfolio">
    <div class="row">
        <div class="column column--12 -spacing-outer-xxs-40 -spacing-outer-s-40 -spacing-outer-100" data-aos="fade-up" data-aos-duration="1000">
            <h2 class="headline headline--h1">{sectionTitle}</h1>
        </div>
    </div>
    <div class="row">
        <div class="column column--12 -spacing-outer-20" data-aos="fade-up" data-aos-duration="1000">
            <p>{sectionIntroParagraph}</p>
        </div>
    </div>

    <div class="row">
        {sortedProjects.map((project, index) => {
            const isLastTwo = index >= sortedProjects.length - 2;
            const columnClasses = isLastTwo
              ? "column column--xs-12 column--l-6 -spacing-outer-50"
              : "column column--xs-12 column--l-12 -spacing-outer-50";
          
            return (
              <div class={columnClasses} data-aos="fade-up" data-aos-duration="1000" >
                <TeaserProject project={project} />
              </div>
            );
          })}
    </div>
</section>