---
---
<div class="row">
    <div class="column column--12 column--s-8 column--push-s-2">
        <p class="-text-align--center -spacing-outer-60 -font-size--20" data-aos="fade-up" data-aos-duration="1000">
            Die Verwendung der neusten Techniken und Trends sowie die ständige Optimierung meines eigenen Workflows sind mir wichtig.
            Ich habe eine große Vorliebe für <strong>minimalistisches</strong> und <strong>zeitgemäßes Design</strong> und moderne digitale Technologien und Techniken.
        </p>
    </div>
</div>