---
import Header from "../components/Header.astro";
import NavigationMeta from "../components/NavigationMeta.astro";
import Footer from "../components/Footer.astro";

import '../styles/main.scss';

export const prerender = true;
const { pageTitle, bodyClass } = Astro.props;
---

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Aus der Nähe von Waiblingen, spezialisiert auf den Launch und Relaunch von WordPress Webseiten. Ich unterstütze Sie gerne bei Ihren Digital-Projekten.">
        <meta name="google-site-verification" content="JskPz3OSE5wXuD_WzlPaxGZmA-mV-5A4btszmB2_ask" />
        <meta name="generator" content={Astro.generator} />

        <!-- Matomo -->
        <script lang="js">
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//matomo.fpecher.de/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
        <!-- <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/1005bb50046628b1557e0fa8/script.js"></script> -->

        <title>{pageTitle}</title>
    </head>
    <body class={bodyClass}>
        <Header/>
        
        <slot />

        <NavigationMeta class="navigation-meta"/>
        
        <Footer />
    </body>
</html>

