@use '../setup/fonts.setup' as fonts;
@use '../setup/colors.setup' as colors;
@use '../mixins/font-size.mixin' as fontsizes;
@use '../mixins/breakpoint.mixin' as breakpoints;

h1 {
  @include fontsizes.font-size(40);
  font-family: fonts.$font-family-headlines;
  font-weight: 700;
  color: colors.$primary-gray;
  
  @include breakpoints.breakpoint('s') {
    @include fontsizes.font-size(70);
  }
}

h2 {
  @include fontsizes.font-size(25);
  font-family: fonts.$font-family-headlines;
  font-weight: 700;
  color: colors.$primary-gray;

  @include breakpoints.breakpoint('s') {
    @include fontsizes.font-size(35);
  }
}

h3 {
  @include fontsizes.font-size(20);
  font-family: fonts.$font-family-headlines;
  font-weight: 300;
  color: colors.$secondary-gray;
  text-transform: uppercase;

  @include breakpoints.breakpoint('s') {
    @include fontsizes.font-size(24);
  }
}

h4 {
  @include fontsizes.font-size(25);
  font-family: fonts.$font-family-main;
  font-weight: 400;
  color: colors.$secondary-gray;

  @include breakpoints.breakpoint('s') {
    @include fontsizes.font-size(27);
  }
}

h5 {
  @include fontsizes.font-size(18);
  font-family: fonts.$font-family-main;
  font-weight: 400;
  color: colors.$primary-gray;
}

h6 {
  @include fontsizes.font-size(16);
  font-family: fonts.$font-family-headlines;
  font-weight: 400;
  color: colors.$secondary-gray;
}

p {
  @include fontsizes.font-size(16);
  font-family: fonts.$font-family-main;
  font-weight: 400;
  color: colors.$secondary-gray;
  line-height: 1.5;

  @include breakpoints.breakpoint('s') {
    @include fontsizes.font-size(18);
    line-height: 1.75;
  }
  
}

strong {
  font-weight: 700;
}

.headline {
  &--h1 {
    @include fontsizes.font-size(40);
    font-family: fonts.$font-family-headlines;
    font-weight: 700;
    color: colors.$primary-gray;
    text-transform: none;
    
    @include breakpoints.breakpoint('s') {
      @include fontsizes.font-size(70);
      background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 50%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-box-decoration-break: clone;
    }
  }

  &--h2 {
    @include fontsizes.font-size(25);
    font-family: fonts.$font-family-headlines;
    font-weight: 700;
    color: colors.$primary-gray;
    text-transform: none;
  
    @include breakpoints.breakpoint('s') {
      @include fontsizes.font-size(35);
    }
  }
  
  &--h3 {
    @include fontsizes.font-size(20);
    font-family: fonts.$font-family-headlines;
    font-weight: 300;
    color: colors.$secondary-gray;
    text-transform: uppercase;

    @include breakpoints.breakpoint('s') {
      @include fontsizes.font-size(24);
    }
  }
}